<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SmoothEnterpriseSqlConnStr" connectionString="Data Source=129.129.1.87;Initial Catalog=SmoothEnterprise33_Dev;Persist Security Info=True;User ID=dgharry;Password=9524713;Connection Timeout=600;" providerName="System.Data.SqlClient" />
      <add name="LocalConnectionString" connectionString="Data Source=DESKTOP-E0GK2R1\MSSQL2014_DEV;Initial Catalog=SmoothEnterprise33_Dev;Persist Security Info=True;User ID=sa;Password=zaq1xsw2;" providerName="System.Data.SqlClient" />

  </connectionStrings>

</configuration>